<h2>Student/User List</h2>

<dx-data-grid
  class="dx-card content-block"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true"
  (onRowDblClick)="openEditPopup($event)">

  <dxo-data-grid-paging [pageSize]="10"></dxo-data-grid-paging>
  <dxo-data-grid-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-data-grid-pager>
  <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>
  <dxi-data-grid-column
    dataField="id"
    [width]="70"
    [hidingPriority]="2">
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="firstName"
    caption="firstName"
    [hidingPriority]="8">
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="lastName"
    caption="lastName"
    [hidingPriority]="6">
  </dxi-data-grid-column>

  <dxi-data-grid-column
    dataField="email"
    caption="email"
    [hidingPriority]="5">
  </dxi-data-grid-column>

  <dxi-data-grid-column
    dataField="gender"
    caption="gender"
    [allowSorting]="false"
    [hidingPriority]="7">
  </dxi-data-grid-column>
  
  <dxi-data-grid-column
    dataField="address"
    caption="address"
    [hidingPriority]="4">
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="country"
    caption="country"
    [hidingPriority]="1">
  </dxi-data-grid-column>
  <dxi-data-grid-column
    dataField="password"
    caption="password"
    [hidingPriority]="0">
  </dxi-data-grid-column>

  <dxi-data-grid-column
    dataField="createdAt"
    caption="createdAt"
    [hidingPriority]="3">
  </dxi-data-grid-column>
</dx-data-grid>


<dx-popup
  [(visible)]="isPopupVisible"
  title="Edit/Delete student"
  [width]="'80%'"
  [height]="600"
  [showCloseButton]="true"
  [dragEnabled]="true"
  [resizeEnabled]="true">

  <div class="popup-container">

    <div class="popup-body">
      <dx-form
        id="userForm"
        [formData]="formData"
        labelLocation="top"
        [colCountByScreen]="{
          xs: 1,
          sm: 2,
          md: 2,
          lg: 3
        }"
      >

      <dxi-item
        dataField="firstName"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Enter first name' }">
      </dxi-item>

      <dxi-item
        dataField="middleName"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Enter middle name' }">
      </dxi-item>

      <dxi-item
        dataField="lastName"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Enter last name' }">
      </dxi-item>

      <dxi-item
        dataField="email"
        editorType="dxTextBox"
        [editorOptions]="{
          mode: 'email',
          placeholder: 'Enter email'
        }">
      </dxi-item>

      <dxi-item
        dataField="gender"
        editorType="dxSelectBox"
        [editorOptions]="{
          items: genders,
          placeholder: 'Select gender'
        }">
      </dxi-item>

      <dxi-item
        dataField="dateOfBirth"
        editorType="dxDateBox"
        [editorOptions]="{
          type: 'date',
          displayFormat: 'dd/MM/yyyy'
        }">
      </dxi-item>

      <dxi-item
        dataField="address"
        editorType="dxTextArea"
        [editorOptions]="{
          placeholder: 'Enter address',
          height: 80
        }">
      </dxi-item>

      <dxi-item
        dataField="country"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Enter country' }">
      </dxi-item>
    >
      <dxi-item
        dataField="state"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Enter state' }">
      </dxi-item>

      <dxi-item
        itemType="simple"
        label="{ text: 'Profile Image' }">

        <dx-file-uploader
          accept="image/*"
          [multiple]="false"
          uploadMode="useForm"
          (onValueChanged)="onImageSelected($event)">
        </dx-file-uploader>

      </dxi-item>

      <dxi-item
        dataField="password"
        editorType="dxTextBox"
        [editorOptions]="{
          placeholder: 'Enter password'
        }">
      </dxi-item>

      <dxi-item
        dataField="pincode"
        editorType="dxTextBox"
        [editorOptions]="{
          mode: 'number',
          placeholder: 'Enter pincode'
        }">
      </dxi-item>

      </dx-form>
    </div>  

    <div class="form-actions">

      <dx-button
        text="Update"
        type="success"
        width="120"
        (onClick)="updateUser()">
      </dx-button>

      <dx-button
        text="Delete"
        type="danger"
        width="120"
        (onClick)="deleteUser()"
        class="delete-btn">
      </dx-button>
      
      <dx-button
        text="Cancel"
        type="normal"
        width="120"
        (onClick)="onCancel()">
      </dx-button>

    </div>
  </div>
</dx-popup>