<h2>Profile</h2>

<div class="content-block dx-card responsive-paddings">
  <div class="form-avatar">
    <img [src]="imageUrl" />
  </div>
  <h4 *ngIf="student">Hi, this is {{student.firstName}} 😊</h4>
</div>

<div class="content-block dx-card responsive-paddings">
  <dx-form
    id="form"
    [formData]="student"
    labelLocation="top"
    [colCountByScreen]="colCountByScreen"
    [readOnly]="true">

    <dxi-item
      dataField="departmentId"
      caption="Department">
      <dx-text-box [value]="departmentName" [readOnly]="true"></dx-text-box>
    </dxi-item>

  </dx-form>
</div>
