<h2>My Enrolled Courses</h2>

<dx-data-grid
    class="dx-card content-block"
    [dataSource]="courses"
    [showBorders]="false"
    [keyExpr]="'courseId'"
    [focusedRowEnabled]="true"
    [focusedRowIndex]="0"
    [columnAutoWidth]="true"
    [columnHidingEnabled]="true"
    (onRowDblClick)="openEditPopup($event)"
>

    <dxo-data-grid-paging [pageSize]="10"></dxo-data-grid-paging>
    <dxo-data-grid-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-data-grid-pager>
    <dxo-data-grid-filter-row [visible]="true"></dxo-data-grid-filter-row>

    <dxi-data-grid-column
        dataField="courseId"
        [width]="100"
        [hidingPriority]="8"
        [alignment]="'center'">
    </dxi-data-grid-column>
    <dxi-data-grid-column
        dataField="courseCode"
        caption="Course Code"
        [hidingPriority]="8">
    </dxi-data-grid-column>
    <dxi-data-grid-column
        dataField="courseName"
        caption="Course Name"
        [hidingPriority]="6"> 
    </dxi-data-grid-column>

    <dxi-data-grid-column
        dataField="durationMonths"
        caption="Duration(Months)"
        [hidingPriority]="5"
        [alignment]="'center'">
    </dxi-data-grid-column>
    
</dx-data-grid>

<dx-popup
  class="course-popup-container"
  [width]="'70%'"
  [height]="380"
  title="Course Details"
  [showTitle]="true"
  [dragEnabled]="true"

  [(visible)]="isPopupVisible"
>
  <div *ngIf="selectedCourse" class="course-popup">

    <div class="info-row">
      <span class="label">Course ID    </span>
      <span class="value">{{ selectedCourse.courseId }}</span>
    </div>

    <div class="info-row">
        <span class="label">Course Code </span>
        <span class="label">{{ selectedCourse.courseCode }}</span>
    </div>

    <div class="info-row">
      <span class="label">Course Name </span>
      <span class="value">{{ selectedCourse.courseName }}</span>
    </div>

    <div class="info-row description-row">
      <span class="label">Description  </span>
      <div class="description-box">
        {{ selectedCourse.description }}
      </div>
    </div>

    <div class="info-row">
      <span class="label">Duration</span>
      <span class="value">{{ selectedCourse.durationMonths }} months</span>
    </div>

  </div>
  
  <div class="form-actions">
    <dx-button
      text="Cancel"
      type="normal"
      width="120"
      (onClick)="onCancel()">
    </dx-button>
  </div>
  
</dx-popup>