.form-actions {
  display: flex;
  justify-content: center;
  gap: 12px;
  padding: 12px 16px;
  padding-top: 25px;
  position: sticky;
  background-color: var(--base-bg);
  bottom: 0;
  z-index: 10;
  box-shadow: 0px -6px 6px 0px rgba(0, 0, 0, 0.08);
}

.popup-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.popup-body {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
}