<h2>Unassign Courses</h2>

<div class="content-block dx-card responsive-paddings">

  <!-- Student selection -->
  <div class="unassignHeader">
    <dx-select-box
      class="stud-select-box"
      width="200"
      [dataSource]="studentList"
      [displayExpr]="displayStudent"
      valueExpr="id"
      [searchEnabled]="true"
      searchMode="contains"
      placeholder="Select Student"
      [(value)]="selectedStudentId"
      (onValueChanged)="onStudentChanged($event)">
    </dx-select-box>

    <div *ngIf="!selectedStudentId">
      <p>* Please select student to unassign courses</p>
    </div>
  </div>

  <!-- Assigned courses -->
  <dx-data-grid
    *ngIf="selectedStudentId && assignedCourses.length > 0"
    class="course-table"
    [dataSource]="assignedCourses"
    keyExpr="courseId"
    [showBorders]="true"
    [selection]="{ mode: 'multiple' }"
    [(selectedRowKeys)]="selectedCourseIds"
    [disabled]="!selectedStudentId">

    <dxi-column dataField="courseCode" caption="Code"></dxi-column>
    <dxi-column dataField="courseName" caption="Course Name"></dxi-column>
    <dxi-column dataField="durationMonths" caption="Duration (Months)"></dxi-column>

  </dx-data-grid>

  <div class="noCourseMsg" *ngIf="selectedStudentId && assignedCourses.length <= 0">
    <p>No courses were assigned to this student!</p>
  </div>

  <!-- Action -->
  <div *ngIf="selectedStudentId && assignedCourses.length > 0" class="unassign-button">
    <dx-button
      class="mt-3"
      text="Unassign Selected Courses"
      type="danger"
      icon="trash"
      [disabled]="!selectedCourseIds.length"
      (onClick)="unassignCourses()">
    </dx-button>
  </div>
</div>
