<h2>Add Course</h2>
<div class="content-block">
  <div class="dx-card responsive-paddings">
    <h4>Fill the details to add Course record respectively!</h4>
  </div>
</div>

<div class="content-block dx-card responsive-paddings">
  <dx-form
  id="userForm"
  [formData]="formData"
  labelLocation="top"
  [colCountByScreen]="{
    xs: 1,
    sm: 2,
    md: 2,
    lg: 3
  }"
>

  <dxi-item
    dataField="CourseCode"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Enter course code' }">
  </dxi-item>
  <dxi-item
    dataField="CourseName"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Enter course name' }">
  </dxi-item>
  <dxi-item
    dataField="Description"
    editorType="dxTextBox"
    [editorOptions]="{ placeholder: 'Enter course description' }">
  </dxi-item>
  <dxi-item
    dataField="DurationMonths"
    editorType="dxTextBox"
    [editorOptions]="{
      mode: 'number',
      placeholder: 'Enter course duration'
    }">
  </dxi-item>
  </dx-form>

  <div class="form-actions">

    <dx-button
      text="Save"
      type="success"
      width="120"
      (onClick)="onSubmit()">
    </dx-button>
  </div>
</div>
