.courseTable {
    margin-bottom: 20px;
}

.assignButton {
    // background-color: aqua;
    display: flex;
    justify-content: center;
}

.dx-row-disabled {
    pointer-events: none;
    opacity: 0.5;
    background-color: #f5f5f5;
}

.assignHeader {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
    font-style: italic;
    color: red;
    flex-wrap: wrap;
}